body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsteelblue;
    color: darkslategray;
    margin: 0;
    padding: 30px;
}

#content {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: whitesmoke;
    padding: 30px;
    border: 3px solid midnightblue;
    border-radius: 10px;
}

#main-header {
    text-align: center;
    background-color: midnightblue;
    color: white;
    padding: 25px;
    border-radius: 8px;
}

#main-header h1 {
    color: white;
    margin-bottom: 5px;
}

#main-header h2 {
    color: lightsteelblue;
}

h2{
    color: midnightblue;
}

#course-description {
    line-height: 1.6;
    background-color: aliceblue;
    padding: 15px;
    border: 1px solid lightsteelblue;
    border-radius: 6px;
}

#assignments, #projects {
    margin-bottom: 20px;
}

.assignment, .project {
    background-color: aliceblue;
    padding: 15px;
    margin: 10px;
    border: 1px solid lightsteelblue;
}

.assignment img, .project img {
    width: 100%;
}

.assignment h3, .project h3 {
    text-align: center;
}

a {
    color: steelblue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: darkgoldenrod;
}

#github-link {
    color: steelblue;
}

#main-footer {
    text-align: center;
    margin-top: 30px;
    background-color: midnightblue;
    color: white;
    padding: 15px;
    border-radius: 8px;
}

@media (min-width: 1000px) {
    .columns {
        display: flex;
    }
    .assignment, .project {
        flex: 1;
    }
}